.quantity {
    width: 3em;
    border-left-width: 0;
    border-right-width: 0;
    --bs-border-width: 2px
}

.button-incr-decr {
    --bs-btn-border-radius: 0;
    --bs-btn-line-height: 16px;
    margin-bottom: 2px;
}

input.quantity::-webkit-outer-spin-button,
input.quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}